body {
    background-color:blanchedalmond;
    opacity: 0,5;
}

h1 {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 25pt;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Inter' sans-serif;
    font-size: 14pt;
    color: black;
    text-align: justify;

}

body {text-align: inherit;

}

img {
    border-radius: 10px;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 18px;
    text-align: justify;
}
#area{
    position:absolute
    width: 250px;
    height: 150px;
}
#area #form{
    position: absolute;
    display: block;
}
fieldset{
    width: 400px;
    height: 250px;
}
legend{
    font-weight: bold;
    font-family: "Segoe UI", "Arial", "Lucida Sans";
}
#form label{
    position: absolute;
    left: 19px;
    margin-right: 5px;
}
#form input.name{
    position: absolute;
    left: 95px;
    top: 23px;
    width: 225px;
}
#form input.email{
    position: absolute;
    left: 95px;
    margin-top: 2px;
    width: 225px;
}
footer{
    background-color: rgba(98, 187, 172, 0.712);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer > a {
    color: black;
}